@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Merriweather&family=PT+Sans&family=Poppins:ital,wght@1,600&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #2B4570;
  background-color: #eeeeee;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  background-color: #2B4570;
  margin-bottom: 1.5em;
  min-width: 600px;
}

#nav-pad {
  width: calc(50% - 320px);
  min-width: 2.5%;
}

#nav-logo{
  width: 11em;
  padding: .25em;
  font-size: xx-large;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 600;
}

#gh-logo{
  width: 2.2em;
  padding: .2em;
  left: 800px;
}

.to-right {
  margin-left: auto;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: .5em;
  padding-left: 1.5em;
  padding-right: 0;
  color: #eeeeee;
  font-size: 1rem;
}

.page {
  width: 95%;
  margin: auto;
  max-width: 640px;
}

.btn {
  background-color: #2B4570;
  color: #eeeeee;
  font-family: inherit;
  min-width: 20%;
  min-height: 2em;
  margin: auto;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
  background: #7180AC;
}

.product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.product:hover {
  background: #dddddd;
}

.detail-container {
  grid-area: 1 / 1 / 2 / 4;
  cursor: pointer;
}

.sell-container {
  grid-area: 1 / 4 / 2 / 5;
}

.keg-container {
  align-items: center;
  text-align: center;
  grid-area: 1 / 5 / 2 / 6;
  position: relative;
}

.sell {
  margin-top: 35px;
}
